@import "variables.scss";
@import "header.scss";
@import "hero.scss";
@import "upsell.scss";
@import "press.scss";
@import "showcase.scss";
@import "footer-upsell.scss";
@import "footer.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: 32px repeat(4, 1fr) 32px;
    grid-auto-rows: auto;
    justify-content: center;
}

header,
main,
footer {
    grid-column: 2 / span 4;
    margin: 0;
    max-width: 1320px;
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 992px) {
    .wrapper {
        display: grid;
        grid-template-columns: 30px repeat(4, 1fr) 30px;
        grid-auto-rows: auto;
        margin-top: 30px;
        margin-bottom: 105px;
    }

    .footer__bottom--right {
        display: block;
    }
}