body {
    box-sizing: border-box;
}

h1 {
    color: blue;
}

p {
    color: purple;
}

span {
    font-weight: bold;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}